.marketing {
    background-color: #fff;
    font-family: monospace;


    h1, h2, h3, h4, h5, h6, p {
        margin: unset;
    }

    svg {
        width: 15px;
        height: 15px;
    } 
    .colored-list {
        list-style: disc;
        color: #fff;
    }

    header {
        div {
            padding: 20px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                list-style: none;
                gap: 50px;
                display: flex;
                align-items: center;
                li {
                    gap: 50px;
                    a {
                        font: 600 18px 'Nunito Sans';
                        font-family: monospace;
                        color: #000;
                        line-height: 25px;
                        text-decoration: none;
                    }
                }
            }
        }
    }



}