.marketing {
    background-color: #fff;
    font-family: monospace;


    h1, h2, h3, h4, h5, h6, p {
        margin: unset;
    }

    svg {
        width: 15px;
        height: 15px;
    } 
    .colored-list {
        list-style: disc;
        color: #fff;
    }

    header {
        div {
            padding: 20px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 55px;
            }
            ul {
                list-style: none;
                gap: 50px;
                display: flex;
                align-items: center;
                li {
                    gap: 50px;
                    a {
                        font: 600 18px 'Nunito Sans';
                        font-family: monospace;
                        color: #000;
                        line-height: 25px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    section.head {
        text-align: center;
        position: relative;
        color: white;
        img {
            width: 100%;
        }
        div.all {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            div.txts {
                background-color: #fff;
                h3 {
                    font: 550 60px 'Abril Fatface';
                    color: #323232;
                    line-height: 81px;
                }
                h6 {
                    font: 550 38px 'Abril Fatface';
                    color: #323232;
                    line-height: 50px;
                }
            }
            button {
                font: 500 36px 'Nunito';
                font-family: monospace;
                color: #fff;
                border-radius: 20px;
                padding: 7px 15px;
                background-color: #000;
                border: none;
                align-self: center;
            }
        }
    }



}