
body {
    margin: unset;
}

.marketing {
    background-color: #fff;
    font-family: monospace;

    h1, h2, h3, h4, h5, h6, p {
        margin: unset;
    }

    svg {
        width: 15px;
        height: 15px;
    } 
    .colored-list {
        list-style: disc;
        color: #fff;
    }

    header {
        div {
            padding: 20px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 55px;
            }
            ul {
                list-style: none;
                gap: 50px;
                display: flex;
                align-items: center;
                li {
                    gap: 50px;
                    a {
                        font: 600 18px 'Nunito Sans';
                        font-family: monospace;
                        color: #000;
                        line-height: 25px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    section.head {
        text-align: center;
        position: relative;
        color: white;
        img {
            width: 100%;
        }
        div.all {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            div.txts {
                background-color: #fff;
                h3 {
                    font: 550 60px 'Abril Fatface';
                    color: #323232;
                    line-height: 81px;
                }
                h6 {
                    font: 550 38px 'Abril Fatface';
                    color: #323232;
                    line-height: 50px;
                }
            }
            button {
                font: 500 36px 'Nunito';
                font-family: monospace;
                color: #fff;
                border-radius: 20px;
                padding: 7px 15px;
                background-color: #000;
                border: none;
                align-self: center;
            }
        }
    }

    section.why {
        padding: 30px 0px;
        width: 100%;
        h3 {
            text-align: center;
            font: 550 60px 'Abril Fatface';
            line-height: 80px;
            margin-bottom: 1rem;
        }

        div.reasons {
            div.colored {
                padding: 40px 45px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 90px;
                background-color: #FFE7B8;
                img {
                    border-radius: 67px;
                }
                div {
                    h4 {
                        font: 550 50px 'Abril Fatface';
                        line-height: 67px;
                        margin-bottom: 1rem;
                    }
                    p {
                        font: 400 30px 'Abril Fatface';
                        font-family: sans-serif;
                    }
                }
            }
            div.normal {
                padding: 40px 45px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;
                gap: 90px;
                background-color: #fff;
                img {
                    border-radius: 67px;
                }
                div {
                    h4 {
                        font: 550 50px 'Abril Fatface';
                        line-height: 67px;
                        margin-bottom: 1rem;
                    }
                    p {
                        font: 400 30px 'Abril Fatface';
                        font-family: sans-serif;
                    }
                }
            }
        }
    }

    section.reviews {
        div.init {
            h3 {
                font: 550 60px 'abril fatface';
                line-height: 60px;
                text-align: center;
            }
            p {
                font: 550 30px 'abril fatface';
                line-height: 45px;
                text-align: center;
            }
        }
        div.testimonies {
            padding: 64px;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(3, 1fr);
            .innerman {
                border: 1px solid #d9d9d9;
                border-radius: 20px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                .stars {
                    display: flex;
                    gap: 7px;
                    align-items: center;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h6 {
                        font: 600 24px 'Inter';
                        font-family: sans-serif;
                    }
                    p {
                        font: 400 16px 'Inter';
                        font-family: sans-serif;
                    }
                }
                .whoposted {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    div {
                        h6 {
                            font: 600 16px 'Inter';
                            font-family: sans-serif;
                        }
                        p {
                            font: 400 16px 'Inter';
                            font-family: sans-serif;
                            color: #B3B3B3;
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 60px 65px;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 90px;
        div.first {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-between;
            .img-links {
                flex: 0 0 40%;
                div {
                    padding: 5px 35px;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                }
            }
            .links {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 75px;
                ul {
                    list-style: none;
                    margin: unset;
                    li {
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 28px;
                        color: #FFFFFE;
                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 15px;
                            color: #FFFFFE;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        div.last {
            display: flex;
            flex-direction: column;
            gap: 35px;
            .location {
                display: flex;
                align-items: center;
                justify-content: space-between;
                /* gap: 30px; */
                div {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                        color: #FFFFFE;
                        font-family: 'lato';
                        text-decoration: none;
                    }
                }
                .pin {
                    flex-direction: column !important;
                    gap: 10px !important;
                    align-items: unset !important;
                }
            }
            .final {
                hr {
                    width: 90%;
                    border: 1px solid #DEDEDE;
                }
                div {
                    margin-top: 20px;
                    p {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #BBBBBB;
                        text-align: center;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 1023px) {
    .marketing {
        footer {
            padding: 50px;
            width: 100%;
            div.first {
                .links {
                    gap: 25px;
                }
            }
            div.last {
                .location {
                    flex-direction: column;
                    align-items: unset;
                    justify-content: unset;
                    gap: 30px;
                }
            }
        }
    }
}




@media screen and (max-width: 700px) {
    .marketing {
        header {
            div {
                padding: 15px 20px;
            }
        }
        section.head {
            div.all {
                div.txts {
                    padding: 1rem 0rem;
                    h3 {
                        font-size: 30px;
                        line-height: unset;
                    }
                    h6 {
                        font-size: 15px;
                        line-height: unset;
                    }
                }
                button {
                    font-size: 25px;
                    border-radius: 10px;
                }
                button:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
        }

        section.why {
            h3 {
                font-size: 40px;
                line-height: 40px;
            }
            div.reasons {
                div {
                    flex-direction: column !important;
                }
                div.colored, div.normal {
                    gap: 30px;
                    img {
                        width: 100%;
                    }
                    div{
                        h4 {
                            font-size: 30px;
                            line-height: 30px;
                        }
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        section.reviews {
            div.init {
                h3 {
                    font-size: 35px;
                    line-height: 35px;
                }
                 p {
                    font-size: 20px;
                    line-height: 25px;
                 }
            }
            div.testimonies {
                padding: 30px;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .marketing {
        footer {
            div.first {
                flex-direction: column;
                gap: 35px;
                .links {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .marketing {
        header {
            div {
                ul {
                    gap: 30px;
                    li {
                        a {
                            line-height: 20px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        footer {
            padding: 20px;
        }
    }
    
}